.navbar{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}
.nav-logo .name{
  color: rgb(15, 15, 111);
  font-size: 30px;
  font-weight: 500;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu .color-red{
  color: #ff4141;
  font-size: 15px;
}
